html {
  color: #002540;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 48px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  /* gap: 0px; */
}

.flex .tile {
  width: 80px;
  height: 110px;
}

.flex .tile img {
  height: 50px;
  width: 50px;
  /* margin: px; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 5px;
}

.grid .tile {
  align-items: center;
  text-align: center;
}

.grid .tile img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin: 5px;
}

figure {
  margin: 0 !important;
}

a {
  text-decoration: underline dashed;
  text-underline-position: under; 
  color: #002540 !important;
}

.line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

address a:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px; 
  background-size: cover;
  margin-right: 5px;
  vertical-align: middle;
}

address .gmail:before {
  background-image: url("../icons/gmail.svg");
}
address .github:before {
  background-image: url("../icons/github.svg");
}
address .calendly:before {
  background-image: url("../icons/calendly.svg");
}
address .linkedin:before {
  background-image: url("../icons/linkedin.svg");
}
address .telegram:before {
  background-image: url("../icons/telegram.svg");
}
address .discord:before {
  background-image: url("../icons/discord.svg");
}

.tile img:not(.hover) {
  display: inline;
}

.tile img.hover {
  display: none;
}

.tile:hover img:not(.hover) {
  display: none;
}

.tile:hover img.hover {
  display: inline;
}

.tile img {
  transition: opacity 0.3s ease;
}

.tile:hover img {
  opacity: 0;
}

.tile:hover img.hover {
  opacity: 1;
}