html {
  color: #001c31;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 48px;
}


.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  /* gap: 0px; */
}

.flex .tile {
  width: 80px;
  height: 110px;
}

.flex .tile img {
  height: 50px;
  width: 50px;
  /* margin: px; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 5px;
}

.grid .tile {
  align-items: center;
  text-align: center;
}

.grid .tile img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin: 5px;
}

figure {
  margin: 0 !important;
}

a {
  text-decoration: underline dashed;
  text-underline-position: under; 
  color: #001c31 !important;
}

.line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

address a:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px; 
  background-size: cover;
  margin-right: 5px;
  vertical-align: middle;
}

address .gmail:before {
  background-image: url("../icons/gmail.svg");
}
address .github:before {
  background-image: url("../icons/github.svg");
}
address .calendly:before {
  background-image: url("../icons/calendly.svg");
}
address .linkedin:before {
  background-image: url("../icons/linkedin.svg");
}
address .telegram:before {
  background-image: url("../icons/telegram.svg");
}
address .discord:before {
  background-image: url("../icons/discord.svg");
}

.interest {
  padding: 5px 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}

.interset-1 { background: #001c31; color: #ffffff; }
.interset-2 { background: #8300c4; color: #ffffff; }
.interset-3 { background: #fcbf49; color: #001c31; }
.interset-4 { background: #1cb08f; color: #ffffff; }
.interset-5 { background: #d62828; color: #ffffff; } 

/* img.mask {
  background-color: #8300c4;
  mask: url("../icons/mermaid.svg");
} */

img.skill {
  background-color: #001c31;
  transition: background-color 0.5s ease;
  border: 0px;
  padding: 0px;
}

img.skill.ruby           { mask: url("../icons/ruby.svg") }          img.skill.ruby:hover           { background-color: #cc342d;}
img.skill.javascript     { mask: url("../icons/javascript.svg") }    img.skill.javascript:hover     { background-color: #f7df1e;}
img.skill.rubyonrails    { mask: url("../icons/rubyonrails.svg") }   img.skill.rubyonrails:hover    { background-color: #d30001;}
img.skill.rspec          { mask: url("../icons/rspec.svg") }         img.skill.rspec:hover          { background-color: #8300c4;}
img.skill.react          { mask: url("../icons/react.svg") }         img.skill.react:hover          { background-color: #61dafb;}
img.skill.git            { mask: url("../icons/git.svg") }           img.skill.git:hover            { background-color: #f05032;}
img.skill.docker         { mask: url("../icons/docker.svg") }        img.skill.docker:hover         { background-color: #8300c4;}
img.skill.postgresql     { mask: url("../icons/postgresql.svg") }    img.skill.postgresql:hover     { background-color: #2496ed;}
img.skill.gnubash        { mask: url("../icons/gnubash.svg") }       img.skill.gnubash:hover        { background-color: #4EAA25;}
img.skill.redis          { mask: url("../icons/redis.svg") }         img.skill.redis:hover          { background-color: #a32422;}
img.skill.nginx          { mask: url("../icons/nginx.svg") }         img.skill.nginx:hover          { background-color: #009639;}
img.skill.linux          { mask: url("../icons/linux.svg") }         img.skill.linux:hover          { background-color: #fcc624;}
img.skill.github         { mask: url("../icons/github.svg") }        img.skill.github:hover         { background-color: #8300c4;}
img.skill.githubactions  { mask: url("../icons/githubactions.svg") } img.skill.githubactions:hover  { background-color: #2088ff;}
img.skill.circleci       { mask: url("../icons/circleci.svg") }      img.skill.circleci:hover       { background-color: #343434;}
img.skill.rabbitmq       { mask: url("../icons/rabbitmq.svg") }      img.skill.rabbitmq:hover       { background-color: #FF6600;}
img.skill.apachekafka    { mask: url("../icons/apachekafka.svg") }   img.skill.apachekafka:hover    { background-color: #231F20;}
img.skill.go             { mask: url("../icons/go.svg") }            img.skill.go:hover             { background-color: #00ADD8;}
img.skill.c              { mask: url("../icons/c.svg") }             img.skill.c:hover              { background-color: #8300c4;}
img.skill.cplusplus      { mask: url("../icons/cplusplus.svg") }     img.skill.cplusplus:hover      { background-color: #A8B9CC;}
img.skill.csharp         { mask: url("../icons/csharp.svg") }        img.skill.csharp:hover         { background-color: #512BD4;}
img.skill.typescript     { mask: url("../icons/typescript.svg") }    img.skill.typescript:hover     { background-color: #3178C6;}
img.skill.traefikproxy   { mask: url("../icons/traefikproxy.svg") }  img.skill.traefikproxy:hover   { background-color: #24A1C1;}
img.skill.nomad          { mask: url("../icons/nomad.svg") }         img.skill.nomad:hover          { background-color: #00CA8E;}
img.skill.terraform      { mask: url("../icons/terraform.svg") }     img.skill.terraform:hover      { background-color: #7B42BC;}
img.skill.ansible        { mask: url("../icons/ansible.svg") }       img.skill.ansible:hover        { background-color: #EE0000;}
img.skill.d3dotjs        { mask: url("../icons/d3dotjs.svg") }       img.skill.d3dotjs:hover        { background-color: #F9A03C;}
img.skill.swagger        { mask: url("../icons/swagger.svg") }       img.skill.swagger:hover        { background-color: #85EA2D;}
img.skill.k6             { mask: url("../icons/k6.svg") }            img.skill.k6:hover             { background-color: #7D64FF;}
img.skill.apache         { mask: url("../icons/apache.svg") }        img.skill.apache:hover         { background-color: #D22128;}
img.skill.mermaid        { mask: url("../icons/mermaid.svg") }       img.skill.mermaid:hover        { background-color: #FF3670;}
img.skill.markdown       { mask: url("../icons/markdown.svg") }      img.skill.markdown:hover       { background-color: #8300c4;}